# hug.service
[Unit]
Description= Hug Reminder app
Documentation= https://github.com/crazcalm/Hug-Reminder-app

[Service]
ExecStart=
ExecStart="/bin/sh" "-c" "cd /home/crazcalm/hug_app && ./app -e prod.env"

[Install]
WantedBy= multi-user.target