# hug.timer
[Unit]
Description=Runs the hug reminder app

[Timer]
OnCalendar=Mon..Sun *-*-* 10..22:00,30:00
Persistent=true

[Install]
WantedBy=timers.target